In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as py

data = pd.read_csv('doctor.csv')
data.head()

                  Author   Commit                      Message      Date
0       Tb Rama Ramadhan  a0f1100               Revisi Android  27/04/19
1  Muhammad Ishak Syukri  4c63cc1  Back end Konsultasi ref #20  25/04/19
2  Muhammad Ishak Syukri  f0e8b79      Back end konsultasi #20  25/04/19
3        Ghalib Mahendra  cc77c1a   Back End Artikel (ref #22)  22/04/19
4          Adityo Satrio  aba27e7    front end artikel ref #24  22/04/19

In [10]:
import nltk as nltk
newData = data['Message']
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [30]:
tempData = newData.str.split()
tempData.head()
from nltk.probability import feqDist as fd

0                    [Revisi, Android]
1    [Back, end, Konsultasi, ref, #20]
2         [Back, end, konsultasi, #20]
3     [Back, End, Artikel, (ref, #22)]
4      [front, end, artikel, ref, #24]
Name: Message, dtype: object